@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);
body {
  background-color: white;
}

.picture {
  font-family: 'Open Sans', sans-serif;
  background: #F0EDDC;
  position: absolute;
}

.title {
  color: #31465B;
}

.letters {
  position: relative;
  height: 100px;
  width: 200px;
}

.letters .letter-c,
.letters .letter-s1-one,
.letters .letter-s2-one,
.letters .letter-s1-two,
.letters .letter-s2-two {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100px;
  border-radius: 50% 10% 10% 50%;
  position: absolute;
  top: 0;
}

.letters .letter-c {
  z-index: 2;
  height: 125px;
  border-left: 25px solid #31465B;
  border-top: 25px solid #31465B;
  border-bottom: 25px solid #31465B;
}

.letters .letter-s1-one,
.letters .letter-s2-one,
.letters .letter-s1-two,
.letters .letter-s2-two {
  height: 75px;
  border-left: 25px solid #31465B;
  border-top: 25px solid #31465B;
}

.letters .letter-s1-one,
.letters .letter-s2-one {
  border-bottom: 15px solid #31465B;
  z-index: 2;
}

.letters .letter-s1-one {
  left: 90px;
}

.letters .letter-s2-one {
  left: 190px;
}

.letters .letter-s1-two,
.letters .letter-s2-two {
  top: 50px;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
  border-radius: 50% 10% 20% 50%;
  border-bottom: 15px solid #31465B;
  z-index: 10;
}

.letters .letter-s1-two {
  left: 105px;
}

.letters .letter-s2-two {
  left: 205px;
}
