@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);
body {
  background-color: white;
}

.picture {
  font-family: 'Open Sans', sans-serif;
  background: #F0EDDC;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 400px;
  width: 400px;
  margin-top: -200px;
  margin-left: -200px;
  background: #666560;
  background: -webkit-gradient(linear, left bottom, right top, from(#666560), color-stop(#D7D0C0), to(#F0EDDC));
  background: -webkit-linear-gradient(bottom left, #666560, #D7D0C0, #F0EDDC);
  background: -o-linear-gradient(bottom left, #666560, #D7D0C0, #F0EDDC);
  background: linear-gradient(to top right, #666560, #D7D0C0, #F0EDDC);
  border-radius: 5px;
  -webkit-box-shadow: 3px 3px 5px #666560;
  box-shadow: 3px 3px 5px #666560;
}

.title {
  color: #31465B;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.numbers {
  position: relative;
  height: 100px;
  width: 200px;
}

.numbers .number-one-tail {
  position: absolute;
  height: 40px;
  width: 20px;
  left: 0;
  background: #31465B;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.numbers .number-one {
  position: absolute;
  top: 0;
  left: 15px;
  height: 100px;
  width: 20px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: #31465B;
  z-index: 50;
  -webkit-box-shadow: 0 0 0.5em #666560;
  box-shadow: 0 0 0.5em #666560;
}

.numbers .number-zero,
.numbers .number-zero-two {
  position: absolute;
  top: 0;
  height: 100px;
  width: 90px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 20px solid #31465B;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 0.5em #666560;
  box-shadow: 0 0 0.5em #666560;
}

.numbers .number-zero {
  left: 30px;
  z-index: 40;
}

.numbers .number-zero-two {
  left: 110px;
}

.big,
.small {
  text-transform: uppercase;
  display: block;
  position: relative;
}

.big {
  font-size: 82px;
  font-weight: bold;
}

.small {
  font-size: 28px;
  line-height: 0px;
}
