body {
  background: #FFFDFD;
}

.menu {
  height: 400px;
  width: 400px;
  background: #ff6f00;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -200px;
  margin-top: -200px;
  border-radius: 3px;
  -webkit-box-shadow: 3px 3px 3px #030101;
          box-shadow: 3px 3px 3px #030101;
}

.hamburger {
  height: 100px;
  width: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -60%);
      -ms-transform: translate(-50%, -60%);
          transform: translate(-50%, -60%);
  cursor: pointer;
}

.hamburger .line-1,
.hamburger .line-2,
.hamburger .line-3 {
  background: #030101;
  height: 20px;
  width: 100px;
  margin: 20px auto;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 7px;
  -webkit-box-shadow: 0px 0px 1px wheat;
          box-shadow: 0px 0px 1px wheat;
}

.hamburger .line-1 {
  -webkit-animation: animate-line-1-reverse 1s ease-in-out;
          animation: animate-line-1-reverse 1s ease-in-out;
}

.hamburger .line-2 {
  -webkit-animation: animate-line-2-reverse 1s ease-in-out;
          animation: animate-line-2-reverse 1s ease-in-out;
}

.hamburger .line-3 {
  -webkit-animation: animate-line-3-reverse 1s ease-in-out;
          animation: animate-line-3-reverse 1s ease-in-out;
}

.hamburger.active .line-1 {
  -webkit-animation: animate-line-1 1s ease-in-out forwards;
          animation: animate-line-1 1s ease-in-out forwards;
}

.hamburger.active .line-2 {
  -webkit-animation: animate-line-2 1s ease-in-out forwards;
          animation: animate-line-2 1s ease-in-out forwards;
}

.hamburger.active .line-3 {
  -webkit-animation: animate-line-3 1s ease-in-out forwards;
          animation: animate-line-3 1s ease-in-out forwards;
}

.noAnimate {
  -webkit-animation: none !important;
          animation: none !important;
}

@-webkit-keyframes animate-line-1 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(0deg);
            transform: translate3d(0, 0, 0) rotate(0deg);
  }
  50% {
    -webkit-transform: translate3d(0, 40px, 0) rotate(0deg);
            transform: translate3d(0, 40px, 0) rotate(0deg);
  }
  100% {
    -webkit-transform: translate3d(0, 40px, 0) rotate(45deg);
            transform: translate3d(0, 40px, 0) rotate(45deg);
  }
}

@keyframes animate-line-1 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(0deg);
            transform: translate3d(0, 0, 0) rotate(0deg);
  }
  50% {
    -webkit-transform: translate3d(0, 40px, 0) rotate(0deg);
            transform: translate3d(0, 40px, 0) rotate(0deg);
  }
  100% {
    -webkit-transform: translate3d(0, 40px, 0) rotate(45deg);
            transform: translate3d(0, 40px, 0) rotate(45deg);
  }
}

@-webkit-keyframes animate-line-2 {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0;
  }
}

@keyframes animate-line-2 {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0;
  }
}

@-webkit-keyframes animate-line-3 {
  0% {
    -webkit-transform: translate3d(0, 0px, 0) rotate(0deg);
            transform: translate3d(0, 0px, 0) rotate(0deg);
  }
  50% {
    -webkit-transform: translate3d(0, -40px, 0) rotate(0deg);
            transform: translate3d(0, -40px, 0) rotate(0deg);
  }
  100% {
    -webkit-transform: translate3d(0, -40px, 0) rotate(135deg);
            transform: translate3d(0, -40px, 0) rotate(135deg);
  }
}

@keyframes animate-line-3 {
  0% {
    -webkit-transform: translate3d(0, 0px, 0) rotate(0deg);
            transform: translate3d(0, 0px, 0) rotate(0deg);
  }
  50% {
    -webkit-transform: translate3d(0, -40px, 0) rotate(0deg);
            transform: translate3d(0, -40px, 0) rotate(0deg);
  }
  100% {
    -webkit-transform: translate3d(0, -40px, 0) rotate(135deg);
            transform: translate3d(0, -40px, 0) rotate(135deg);
  }
}

@-webkit-keyframes animate-line-1-reverse {
  0% {
    -webkit-transform: translate3d(0, 40px, 0) rotate(45deg);
            transform: translate3d(0, 40px, 0) rotate(45deg);
  }
  50% {
    -webkit-transform: translate3d(0, 40px, 0) rotate(0deg);
            transform: translate3d(0, 40px, 0) rotate(0deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(0deg);
            transform: translate3d(0, 0, 0) rotate(0deg);
  }
}

@keyframes animate-line-1-reverse {
  0% {
    -webkit-transform: translate3d(0, 40px, 0) rotate(45deg);
            transform: translate3d(0, 40px, 0) rotate(45deg);
  }
  50% {
    -webkit-transform: translate3d(0, 40px, 0) rotate(0deg);
            transform: translate3d(0, 40px, 0) rotate(0deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(0deg);
            transform: translate3d(0, 0, 0) rotate(0deg);
  }
}

@-webkit-keyframes animate-line-2-reverse {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

@keyframes animate-line-2-reverse {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

@-webkit-keyframes animate-line-3-reverse {
  0% {
    -webkit-transform: translate3d(0, -40px, 0) rotate(135deg);
            transform: translate3d(0, -40px, 0) rotate(135deg);
  }
  50% {
    -webkit-transform: translate3d(0, -40px, 0) rotate(0deg);
            transform: translate3d(0, -40px, 0) rotate(0deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0px, 0) rotate(0deg);
            transform: translate3d(0, 0px, 0) rotate(0deg);
  }
}

@keyframes animate-line-3-reverse {
  0% {
    -webkit-transform: translate3d(0, -40px, 0) rotate(135deg);
            transform: translate3d(0, -40px, 0) rotate(135deg);
  }
  50% {
    -webkit-transform: translate3d(0, -40px, 0) rotate(0deg);
            transform: translate3d(0, -40px, 0) rotate(0deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0px, 0) rotate(0deg);
            transform: translate3d(0, 0px, 0) rotate(0deg);
  }
}
