@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);

$body-bg: white;
$blue: #31465B;
$ivory: #F0EDDC;
$charcoal: #666560;
$stone: #D7D0C0;

body {
	background-color: $body-bg;
}

.picture {
	font-family: 'Open Sans', sans-serif;
	background: $ivory;
	position: absolute;
}

.title {
		color: $blue;
}

.letters {
	position: relative;
	height: 100px;
	width: 200px;

	.letter-c,
	.letter-s1-one,
	.letter-s2-one,
	.letter-s1-two,
	.letter-s2-two {
		box-sizing: border-box;
		width: 100px;
		border-radius: 50% 10% 10% 50%;
		position: absolute;
		top: 0;
	}

	.letter-c {
		z-index: 2;
		height: 125px;
		border-left: 25px solid $blue;
		border-top: 25px solid $blue;
		border-bottom: 25px solid $blue;
	}

	.letter-s1-one,
	.letter-s2-one,
	.letter-s1-two,
	.letter-s2-two {
		height: 75px;
		border-left: 25px solid $blue;
		border-top: 25px solid $blue;
	}

	.letter-s1-one,
	.letter-s2-one {
		border-bottom: 15px solid $blue;
		z-index: 2;
	}

	.letter-s1-one {
		left: 90px;
	}

	.letter-s2-one {
		left: 190px;
	}

	.letter-s1-two,
	.letter-s2-two {
		top: 50px;
		transform: rotate(180deg);
		border-radius: 50% 10% 20% 50%;
		border-bottom: 15px solid $blue;
		z-index: 10;
	}

	.letter-s1-two {
		left: 105px;
	}

	.letter-s2-two {
		left: 205px;
	}

}
