@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);

// Color scheme based on season 8 of "Game of Thrones"
$body-bg: white;
$blue: #31465B;
$ivory: #F0EDDC;
$charcoal: #666560;
$stone: #D7D0C0;

body {
	background-color: $body-bg;
}

.picture {
	font-family: 'Open Sans', sans-serif;
	background: $ivory;
	position: absolute;
	top: 50%;
	left: 50%;
	height: 400px;
	width: 400px;
	margin-top: -200px;
	margin-left: -200px;
	background: $charcoal;
	background: -webkit-gradient(linear, left bottom, right top, from($charcoal), color-stop($stone), to($ivory));
	background: -webkit-linear-gradient(bottom left, $charcoal, $stone, $ivory);
	background: -o-linear-gradient(bottom left, $charcoal, $stone, $ivory);
	background: linear-gradient(to top right, $charcoal, $stone, $ivory);
	border-radius: 5px;
	-webkit-box-shadow: 3px 3px 5px $charcoal;
	        box-shadow: 3px 3px 5px $charcoal;
}

.title {
	color: $blue;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%,-50%);
	    -ms-transform: translate(-50%,-50%);
	        transform: translate(-50%,-50%);
}

.numbers {
	position: relative;
	height: 100px;
	width: 200px;

	.number-one-tail {
		position: absolute;
		height: 40px;
		width: 20px;
		left: 0;
		background: $blue;
		-webkit-transform: rotate(45deg);
		    -ms-transform: rotate(45deg);
		        transform: rotate(45deg);
		-webkit-box-sizing: border-box;
		        box-sizing: border-box;
	}

	.number-one {
		position: absolute;
		top: 0;
		left: 15px;
		height: 100px;
		width: 20px;
		-webkit-box-sizing: border-box;
		        box-sizing: border-box;
		background: $blue;
		z-index: 50;
		-webkit-box-shadow: 0 0 0.5em $charcoal;
		        box-shadow: 0 0 0.5em $charcoal;
	}

	.number-zero,
	.number-zero-two {
		position: absolute;
		top: 0;
		height: 100px;
		width: 90px;
		-webkit-box-sizing: border-box;
		        box-sizing: border-box;
		border: 20px solid $blue;
		border-radius: 50%;
		-webkit-box-shadow: 0 0 0.5em $charcoal;
		        box-shadow: 0 0 0.5em $charcoal;
	}

	.number-zero {
		left: 30px;
		z-index: 40;
	}

	.number-zero-two {
		left: 110px;
	}

}


.big,
.small {
	text-transform: uppercase;
	display: block;
	position: relative;
}

.big {
	font-size: 82px;
	font-weight: bold;
}

.small {
	font-size: 28px;
	line-height: 0px;
}