// Color scheme based on "Orange is the New Black"

$body-bg: #FFFDFD;
$orange: #ff4800;
$altOrange: #ff6f00;
$black: #030101;

body {
	background: $body-bg;
}

.menu {
	height: 400px;
	width: 400px;
	background: $altOrange;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -200px;
	margin-top: -200px;
	border-radius: 3px;
	box-shadow: 3px 3px 3px $black;
}

.hamburger {
	height: 100px;
	width: 100px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-60%);
	cursor: pointer;

	.line-1,
	.line-2,
	.line-3 {
		background: $black;
		height: 20px;
		width: 100px;
		margin: 20px auto;
		display: block;
		box-sizing: border-box;
		border-radius: 7px;
		box-shadow: 0px 0px 1px wheat;
	}

	.line-1 {
		animation: animate-line-1-reverse 1s ease-in-out;
	}
	.line-2 {
		animation: animate-line-2-reverse 1s ease-in-out;
	}
	.line-3 {
		animation: animate-line-3-reverse 1s ease-in-out;
	}

	&.active {
		.line-1 {
			animation: animate-line-1 1s ease-in-out forwards;
		}
		.line-2 {
			animation: animate-line-2 1s ease-in-out forwards;
		}
		.line-3 {
			animation: animate-line-3 1s ease-in-out forwards;
		}
	}
}

.noAnimate {
	animation: none !important;
}


@keyframes animate-line-1 {
	0% {
		transform: translate3d(0, 0, 0) rotate(0deg);
	}

	50% {
		transform: translate3d(0, 40px, 0) rotate(0deg);
	}

	100% {
		transform: translate3d(0, 40px, 0) rotate(45deg);
	}
}

@keyframes animate-line-2 {
	0% {
		transform: scale(1);
		opacity: 1;
	}
	100% {
		transform: scale(0);
		opacity: 0;
	}
}

@keyframes animate-line-3 {
	0% {
		transform: translate3d(0, 0px, 0) rotate(0deg);
	}

	50% {
		transform: translate3d(0, -40px, 0) rotate(0deg);
	}

	100% {
		transform: translate3d(0, -40px, 0) rotate(135deg);
	}
}

// Reverse Animation
@keyframes animate-line-1-reverse {
	0% {
		transform: translate3d(0, 40px, 0) rotate(45deg);
	}

	50% {
		transform: translate3d(0, 40px, 0) rotate(0deg);
	}

	100% {
		transform: translate3d(0, 0, 0) rotate(0deg);
	}
}

@keyframes animate-line-2-reverse {
	0% {
		transform: scale(0);
		opacity: 0;
	}
	100% {
		transform: scale(1);
		opacity: 1;
	}
}

@keyframes animate-line-3-reverse {
	0% {
		transform: translate3d(0, -40px, 0) rotate(135deg);
	}

	50% {
		transform: translate3d(0, -40px, 0) rotate(0deg);
	}

	100% {
		transform: translate3d(0, 0px, 0) rotate(0deg);
	}
}